<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.napps.scorekeeper">

  <application
      android:name="ua.napps.scorekeeper.app.ScoreKeeperApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity
        android:name="ua.napps.scorekeeper.counters.CountersActivity"
        android:screenOrientation="portrait"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:screenOrientation="portrait"

        android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
        android:name="ua.napps.scorekeeper.counters.EditCounterActivity"
        >
    </activity>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts"/>
  </application>

</manifest>